@use "../../base.scss";


.item {
    padding: 10px;
    cursor: pointer;

    &:hover {
        .under {
            &:before {
                transform: scale(1);
            }
        }
    }
}
.link {
    transition: 0.5s;
    font-size: base.$fontLarge;
    color: base.$colorSecondary;

    &:hover {
        color: base.$colorPrimary;
    }
}

.active {
    @extend .primary;
}

.activeUnder {
    @include base.underline($bottom: -4px, $width: 110%);
}

.under {
    @include base.hoverUnderlineCenter($bottom: -4px, $width: 110%);
}

.scale {
    @include base.hoverScale($scale: 1.05);
}

.primary {
    color: base.$colorPrimary;
}



