@use "../base.scss";

.auth {
    @extend .gridCentered;
    grid-column-gap: base.$grooveStep * 5;
    grid-template-columns: repeat(2, fit-content(70%));
    margin-left: 20%;
    margin-right: 20%;
}
