@use "../base.scss";


.item {
    padding: base.$grooveStep * 3;
    cursor: pointer;

    &:hover {
        .under {
            &:before {
                transform: scale(1);
            }
        }
        .link {
            color: base.$colorPrimary;
        }
    }
}
.link {
    transition: 0.5s;
    font-size: base.$fontLarge;
    color: base.$colorSecondary;
}

.active {
    @extend .primary;
}

.activeUnder {
    @include base.underline($bottom: -4px, $width: 110%, $height:1.5px, $background: base.$colorSecondary);
}

.under {
    @include base.hoverUnderlineCenter($bottom: -4px, $width: 110%, $height:1.5px, $background: base.$colorSecondary);
}

.scale {
    @include base.hoverScale($scale: 1.05);
}

.primary {
    color: base.$colorPrimary;
}



