@use "../base.scss";

.nav {
    @extend .gridCentered;
    grid-template-columns: minmax(200px, 400px) minmax(350px, 500px) minmax(200px, 300px);
    max-width: 1200px;
    justify-content: space-around;
    padding-top: base.$grooveStep * 3;
    padding-bottom: base.$grooveStep * 3;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    box-shadow: 0 3px 5px base.$colorLiteSecondary;
}

@media (max-width: 1024px) {
    .container {
        width: 96%;
    }
}