@use "sass:math";
@use "sass:color";
                        /*========== PROJECT CONSTS ==========*/
$colorPrimary: #000;
$colorInvPrimary: #fff;
$colorSecondary: #666;
$colorLiteSecondary: #808080;
$colorMain: #8400ff;

$fontSmall: 12px;
$fontNormal: 14px;
$fontLarge: 16px;
$fontXLarge: 20px;
$fontXXLarge: 28px;

$grooveStep: 4px;

$breakXSm: 320px;
$breakSm: 768px;
$breakMd: 1024px;
$breakLg: 1280px;
$breakXLg: 1440px;

                        /*========== PROPERTIES ==========*/
.gridCentered {
    display:grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

                        /*========== ELEMENTS ==========*/

@mixin parallelogramIn ($borderWidth: 1.5px, $color: $colorPrimary) {
    border: $borderWidth solid $color;
    transform: skewX(-20deg);
}

.parallelogramOut {
    transform: skewX(20deg);
}

@mixin underline ($width: 110%, $height: 1px, $background: color.adjust($colorPrimary, $alpha: -0.15), $bottom: -$grooveStep) {
    position: relative;

    &:before {
        content: "";
        width: $width;
        height: $height;
        background: $background;
        position: absolute;
        bottom: $bottom;
        left: math.div(-1 * ($width - 100), 2);
    }
}

.hr {
    width: 100%;
    border: 1px solid $colorPrimary;
    margin-top: $grooveStep * 4;
}

                        /*========== ANIMATIONS ==========*/

@mixin hoverUnderlineCenter ($transition: 0.3s, $width: 110%, $height: 1px, $background: color.adjust($colorPrimary, $alpha: -0.15), $bottom: -$grooveStep) {
    position: relative;

    &:before {
        content: "";
        width: $width;
        height: $height;
        background: $background;
        position: absolute;
        transform: scale(0);
        bottom: $bottom;
        left: math.div(-1 * ($width - 100), 2);
        transition: $transition;
    }
    &:hover:before {
        transform: scale(1);
    }
}

@mixin hoverScale ($transition: 0.5s, $scale: 1.1) {
    transition: $transition;
    &:hover {
        transform: scale($scale);
    }
}

@mixin quadroLines ($transition: 0.3s, $borderWidth: 1.5px, $color: $colorSecondary, $verticalAdd: $grooveStep*3, $HorizontalAdd: $grooveStep*3) {
    position: relative;

    &:before, &:after {
        transition: $transition;
        position: absolute;
        content: '';

        left: calc($HorizontalAdd / -2);
        bottom: calc($verticalAdd / -2);
    }
    
    &:before {
        transform: scaleX(0);
        border-top: solid $borderWidth $color;
        border-bottom: solid $borderWidth $color;

        width: calc(100% + $HorizontalAdd);
        height: calc(100% + $verticalAdd);
    }
    &:after {
        transform: scaleY(0);
        border-left: solid $borderWidth $color;
        border-right: solid $borderWidth $color;

        height: calc(100% + $verticalAdd);
        width: calc(100% + $HorizontalAdd);
    }
    &:hover:before {
        transform: scaleX(1);
    }
    &:hover:after {
        transform: scaleY(1);
    }
}