@use "sass:math";
@use "sass:color";
                        /*========== PROJECT CONSTS ==========*/
$colorPrimary: #000;
$colorInvPrimary: #fff;
$colorSecondary: #666;
$colorMain: #8400ff;

$fontSmall: 9px;
$fontNormal: 16px;
$fontLarge: 20px;
$fontXLarge: 32px;
$fontXXLarge: 50px;

                        /*========== PROPERTIES ==========*/
.gridCentered {
    display:grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

                        /*========== ELEMENTS ==========*/

.parallelogramIn {
    border: 1.5px solid $colorPrimary;
    transform: skewX(-20deg);
}

.parallelogramOut {
    transform: skewX(20deg);
}

@mixin underline ($width: 110%, $height: 1px, $background: color.adjust($colorPrimary, $alpha: -0.15), $bottom: -5px) {
    position: relative;

    &:before {
        content: "";
        width: $width;
        height: $height;
        background: $background;
        position: absolute;
        bottom: $bottom;
        left: math.div(-1 * ($width - 100), 2);
    }
}

.hr {
    width: 100%;
    border: 1px solid $colorPrimary;
    margin-top: 16px;
}

                        /*========== ANIMATIONS ==========*/

@mixin hoverUnderlineCenter ($transition: 0.3s, $width: 110%, $height: 1px, $background: color.adjust($colorPrimary, $alpha: -0.15), $bottom: -5px) {
    position: relative;
    transition: $transition;

    &:before {
        content: "";
        width: $width;
        height: $height;
        background: $background;
        position: absolute;
        transition: $transition;
        transform: scale(0);
        bottom: $bottom;
        left: math.div(-1 * ($width - 100), 2);
    }
    &:hover:before {
        transform: scale(1);
    }
}

@mixin hoverScale ($transition: 0.5s, $scale: 1.1) {
    transition: $transition;
    &:hover {
        transform: scale($scale);
    }
}